<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="row" style="margin-top:20px">
        <div class="col">
            <h1>Users</h1>

             <table>
                <thead>
                    <tr>
                        <th>Username</th><th>Firstname</th><th>Lastname</th><th>Email</th><th>Enabled</th><th>Creditcard number</th><th>Roles</th><th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:utext="${user.username}">Username</td>
                        <td th:utext="${user.firstname}">Firstname</td>
                        <td th:utext="${user.lastname}">Lastname</td>
                        <td th:utext="${user.email}">Email</td>
                        <td th:utext="${user.enabled}">Enabled</td>
                        <td th:utext="${user.creditcardnumber}">Creditcard Number</td>
                        <td>
                            <div th:each="role : ${user.roles}">
                                <span th:text="${role.name}"></span>
                            </div>
                        </td>
                        <td><a th:href="@{/user/edit/{id}(id=${user.id})}">Edit</a></td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
         <div class="col">    

            <form action="#" th:action="@{/admin/users}" method="post">
                <p>Search user: <input type="text" name="username" /></p>
                <p><input type="submit" value="Submit" /></p>
            </form>
        </div>
    </div>
</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>

</body>
</html>
