<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cyber security - user edit</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            
          <form th:action="@{/user/edit/{id}(id=${user.id})}" method="POST">
              <input type="hidden"  name="username" id="username"
                               th:value='${user.username}'/>
            <fieldset>
                    <h1>Edit user information</h1>
              <div class="form-group">
                  <label>Username</label>
                  <span th:text='${user.username}'></span>
              </div>
              <div class="form-group">
                  <label>Password</label>
                  <input type="password" name="password" id="password" class="form-control input-lg"
                               placeholder="Password" required="true" th:value='${user.password}'/>
              </div>
                    
                    <div class="form-group">
                        <label>First name</label>
                  <input type="text" name="firstname" id="firstname" class="form-control input-lg"
                               placeholder="First name" required="true" th:value='${user.firstname}'/>
              </div>
                    
                    <div class="form-group">
                        <label>Last name</label>
                  <input type="text" name="lastname" id="lastname" class="form-control input-lg"
                               placeholder="Last name" required="true" th:value='${user.lastname}'/>
              </div>
                    
                    <div class="form-group">
                        <label>Email</label>
                  <input type="text" name="email" id="email" class="form-control input-lg"
                               placeholder="Email" required="true" th:value='${user.email}'/>
              </div>
                    
                          <div class="form-group">
                        <label>Address</label>
                  <input type="text" name="address" id="address" class="form-control input-lg"
                               placeholder="Address" th:value='${user.address}'/>
              </div>
                    
                    <div class="form-group">
                        <label>Postal code</label>
                  <input type="text" name="postalCode" id="postalCode" class="form-control input-lg"
                               placeholder="Postal code" th:value='${user.postalCode}'/>
              </div>
                    
                                   <div class="form-group">
                        <label>City</label>
                  <input type="text" name="city" id="city" class="form-control input-lg"
                               placeholder="City" th:value='${user.city}'/>
              </div>
                    <div class="form-group">
                        <label>Creditcard number</label>
                  <input type="text" name="creditcardnumber" id="creditcardnumber" class="form-control input-lg"
                               placeholder="Creditcard number" th:value='${user.creditcardnumber}'/>
              </div>
                    
            
            <input type="submit" value="Save"/>
            </fieldset>
        </form>
        
            </div>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>
