<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <!-- this is header-css -->
         <link rel="stylesheet" type="text/css" 
              href="https://bootswatch.com/4/cerulean/bootstrap.min.css" />

        <link rel="stylesheet" th:href="@{/css/main.css}"
              href="../../css/main.css" />
    </div>
</head>
<body>
<div th:fragment="header">
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" th:href="@{/}">Cyber security project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/about}">About</a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
              <a class="nav-link" th:href="@{/admin}">Admin -page</a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('USER')">
              <a class="nav-link" th:href="@{/user}">User -page</a>
            </li>
          </ul>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/logout}">Sign out</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/login}">Sign In</a>
                </li>
            
            </ul>  
        </div>
      </nav>    
</div>

</body>
</html>
