<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cyber security</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        
         <div th:if="${user_created}">
            <div class="alert alert-info"> 
                 <span th:text="${user_created}">One note</span>
            </div>
        </div>
        
        <h1>Cyber security</h1>
        <p sec:authorize="!isAuthenticated()">If you don't have account to the system, you can register and then sign in.
            <a th:href="@{/registration/USER}" sec:authorize="!isAuthenticated()">Create a new account</a>
        </p>
        
        <p sec:authorize="isAuthenticated()">
            <h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]!</h3>
            In the menu bar, you can see more links to see data from the system.
            In the footer, you can see, what is your role.
        </p>
        
        <div th:if="${user_created}">
            <a th:href="@{/login}">Sign In</a>
        </div>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>
