<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cyber security - registration</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        
            <div th:if="${user_not_created}">
                        <div class="alert alert-danger">
                            <span th:text="${user_not_created}">One note</span>
                        </div>
                    </div>
            
          <form th:action="@{/registrationForm}" method="POST">
            <fieldset>
                    <h1>Cyber security - registration</h1>

                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            Invalid username and password.
                        </div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">
                            You have been logged out.
                        </div>
                    </div>
                    <input type="hidden" name="role" id="role" th:value="${role}"/>
              <div class="form-group">
                  <label>Username</label>
                  <input type="text" name="username" id="username" class="form-control input-lg"
                               placeholder="UserName" required="true" autofocus="true"/>
              </div>
              <div class="form-group">
                  <label>Password</label>
                  <input type="password" name="password" id="password" class="form-control input-lg"
                               placeholder="Password" required="true" autofocus="true"/>
              </div>
                    
                    <div class="form-group">
                        <label>First name</label>
                  <input type="text" name="firstname" id="firstname" class="form-control input-lg"
                               placeholder="First name" required="true" autofocus="true"/>
              </div>
                    
                    <div class="form-group">
                        <label>Last name</label>
                  <input type="text" name="lastname" id="lastname" class="form-control input-lg"
                               placeholder="Last name" required="true" autofocus="true"/>
              </div>
                    
                    <div class="form-group">
                        <label>Email</label>
                  <input type="text" name="email" id="email" class="form-control input-lg"
                               placeholder="Email" required="true" autofocus="true"/>
              </div>
            
            <input type="submit" value="Register"/>
            </fieldset>
        </form>
        
            </div>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>
